<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf">
<h:head>
	<title>groupeB2</title>
	<!-- BOOTSTRAP  -->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		crossorigin="anonymous"></link>
</h:head>
<h:body>
	<!-- NAVBAR -->
	<header>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">

				<div class="container">
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li><a href="#{navigationControl.goToIndex()}">Accueil</a></li>
							<li><a href="#{navigationControl.goToListAction()}">List (admin)</a></li>
							<li><a href="#{navigationControl.goToCreateAction()}">Créer (admin)</a></li>
							<li><a href="#{navigationControl.goToAdmin()}">Gérer (admin)</a></li>
							<li><a href="#{navigationControl.goToListActionUser()}">Liste (user)</a></li>
							<li><a href="#{navigationControl.goToCreateActionUser()}">Créer (user)</a></li>
							<li><a href="#{navigationControl.goToAbout()}">À propos</a></li>
							<li><a href="#{navigationControl.goToLogin()}">Connexion</a></li>
							<li><a href="#{navigationControl.deconnexion()}">Déconnexion</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<h2 style="text-align: center"><u>À propos:</u></h2>
	<p class="text-center">Site réalisé par 
	<a href="https://www.linkedin.com/in/anthony-cabello-04b00b148/">Anthony Cabello</a>, 
	<a href="https://www.linkedin.com/in/alexandre-pagnieau-495b6a150/">Alexandre Pagnieau</a> et 
	<a href="https://www.linkedin.com/in/julie-verfaillie-489557140/">Julie Verfaillie</a>, 
	<br/> étudiants en informatique de gestion à la HELHa Campus
		Mons,<br/> dans le cadre du cours d' Applications entreprise multi tiers
		de Mr. V. Altares.</p>
</h:body>
</html>