
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf">
<h:head>
	<title>groupeB2</title>
	<!-- BOOTSTRAP  -->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		crossorigin="anonymous"></link>
</h:head>
<h:body>
	<!-- NAVBAR -->
	<header>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">

				<div class="container">
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li><a href="#{navigationControl.goToIndex()}">Accueil</a></li>
							<li><a href="#{navigationControl.goToListAction()}">List (admin)</a></li>
							<li><a href="#{navigationControl.goToCreateAction()}">Créer (admin)</a></li>
							<li><a href="#{navigationControl.goToAdmin()}">Gérer (admin)</a></li>
							<li><a href="#{navigationControl.goToListActionUser()}">Liste (user)</a></li>
							<li><a href="#{navigationControl.goToCreateActionUser()}">Créer (user)</a></li>
							<li><a href="#{navigationControl.goToAbout()}">À propos</a></li>
							<li><a href="#{navigationControl.goToLogin()}">Connexion</a></li>
							<li><a href="#{navigationControl.deconnexion()}">Déconnexion</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<section class="row">
		<div class="col-lg-12">
			<h2 class="text-center"><u>#{actionControl.action.getTitle()}</u></h2>
			<br />
			<br />
		</div>
	</section>
	<div class="row">
		<section class=" col-lg-offset-1 col-lg-4">
		<blockquote>#{actionControl.action.getDescription()}</blockquote>
			<h3>Informations utiles :</h3>
			<br />
			<h4>#{actionControl.action.getLocation()}</h4>
			<br />
			<iframe frameborder="0" style="border: 0"
				src="#{actionControl.getURLMap()}"> </iframe>
		</section>
		
		<section class="col-lg-offset-1 col-lg-6">
			<img
				src="data:image/jpg;base64,#{actionControl.action.getImageTitre()}"
				height="450" width="650" />
		</section>
	</div>
	<br/><br/>
	<footer>
		<div class="text-center">
			<b><h4>Du #{actionControl.action.getDateBeginString()} au
				#{actionControl.action.getDateEndString()}</h4></b>
			<h4>Montant = #{actionControl.action.getAmount()} €</h4>
		</div>
	</footer>
</h:body>

</html>