<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf">
<h:head>
	<title>groupeB2</title>
	<!-- BOOTSTRAP  -->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		crossorigin="anonymous"></link>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</h:head>
<h:body>
	<!-- NAVBAR -->
	<header>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">

				<div class="container">
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li><a href="#{navigationControl.goToIndex()}">Accueil</a></li>
							<li><a href="#{navigationControl.goToListAction()}">List des évènements (admin)</a></li>
							<li><a href="#{navigationControl.goToCreateAction()}">Créer un évènement (admin)</a></li>
							<li><a href="#{navigationControl.goToListActionUser()}">Liste des actions (user)</a></li>
							<li><a href="#{navigationControl.goToCreateActionUser()}">Créer une action (user)</a></li>
							<li><a href="#{navigationControl.goToListAction()}">List (admin)</a></li>
							<li><a href="#{navigationControl.goToCreateAction()}">Créer (admin)</a></li>
							<li><a href="#{navigationControl.goToAdmin()}">Gérer (admin)</a></li>
							<li><a href="#{navigationControl.goToListActionUser()}">Liste (user)</a></li>
							<li><a href="#{navigationControl.goToCreateActionUser()}">Créer (user)</a></li>
							<li><a href="#{navigationControl.goToAbout()}">À propos</a></li>
							<li><a href="#{navigationControl.goToLogin()}">Connexion</a></li>
							<li><a href="#{navigationControl.deconnexion()}">Déconnexion</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</header>
	
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			<div class="item active">
				<img
					src="data:image/jpg;base64,#{actionControl.actionCarousel1.getImageTitre()}" alt="See action" style="height:800px; margin: auto"></img>
				<div class="carousel-caption">
					<h3><h:form><h:commandButton value="#{actionControl.actionCarousel1.getTitle()}"
					action="#{actionControl.doDetailsAction1()}" class="btn"
					style="background-color:transparent; color:blue ; font-size: 50px "  /></h:form></h3>
					<p style = "font-size : 30px ">Du #{actionControl.actionCarousel1.getDateBeginString()} au #{actionControl.actionCarousel1.getDateEndString()}</p>
				</div>
			</div>

			<div class="item">
				<img
					src="data:image/jpg;base64,#{actionControl.actionCarousel2.getImageTitre()}" alt="See action"  style="height:800px; margin: auto"></img>
				<div class="carousel-caption">
					<h3><h:form><h:commandButton value="#{actionControl.actionCarousel2.getTitle()}"
					action="#{actionControl.doDetailsAction2()}" class="btn"
					style="background-color:transparent; color:blue ; font-size: 50px "/></h:form></h3>
					<p style = "font-size : 30px ">Du #{actionControl.actionCarousel2.getDateBeginString()} au #{actionControl.actionCarousel2.getDateEndString()}</p>
				</div>
			</div>

			<div class="item">
				<img
					src="data:image/jpg;base64,#{actionControl.actionCarousel3.getImageTitre()}" alt="See action"  style="height:800px ; margin: auto" ></img>
				<div class="carousel-caption">
					<h3><h:form><h:commandButton value="#{actionControl.actionCarousel3.getTitle()}"
					action="#{actionControl.doDetailsAction3()}" class="btn"
					style="background-color:transparent; color:blue ; font-size: 50px "/></h:form></h3>
					<p style = "font-size : 30px ">Du #{actionControl.actionCarousel3.getDateBeginString()} au #{actionControl.actionCarousel3.getDateEndString()}</p>
				</div>
			</div>
		</div>
		
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span> <span
			class="sr-only">Previous</span>
		</a> <a class="right carousel-control" href="#myCarousel"
			data-slide="next"> <span
			class="glyphicon glyphicon-chevron-right"></span> <span
			class="sr-only">Next</span>
		</a>
	</div>
</h:body>
</html>