<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf">
<h:head>
	<title>groupeB2</title>
	<!-- BOOTSTRAP  -->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		crossorigin="anonymous"></link>
</h:head>
<h:body>
	<!-- NAVBAR -->
	<header>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="container">
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li><a href="#{navigationControl.goToIndex()}">Accueil</a></li>
							<li><a href="#{navigationControl.goToListAction()}">Actions</a></li>
							<li><a href="#{navigationControl.goToCreateAction()}">Créer
									une action</a></li>
							<li><a href="#{navigationControl.goToAbout()}">À propos</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<h2 style="text-align: center">List Action</h2>

	<h:form>
		<h:dataTable value="#{actionControl.selectAll()}" var="action"
			styleClass="actionTable" headerClass="actionTableHeader"
			rowClasses="actionTableOddRow,actionTableEvenRow"
			class="table table-striped">
			<h:column>
				<f:facet name="header">Image</f:facet>
				<h:commandLink action="#{actionControl.doDetailsAction(action)}">
					<img src="data:image/jpg;base64,#{action.imageTitre}" height="56"
						width="76" />
				</h:commandLink>
			</h:column>
			<h:column>
				<f:facet name="header">Titre</f:facet>
				<h:commandButton value="#{action.title}"
					action="#{actionControl.doDetailsAction(action)}" class="btn"
					style="background-color:transparent; color:blue" />
			</h:column>
			<h:column>
				<f:facet name="header">Description</f:facet>        
      #{action.description}
   </h:column>
			<h:column>
				<f:facet name="header">Montant</f:facet>        
      #{action.amount}€
       </h:column>
			<h:column>
				<f:facet name="header">
				<h:commandLink action="#{actionControl.getBoolLocalite(true)}"
					styleClass="foo" value="Location">
				</h:commandLink> 
				<h:commandLink action="#{actionControl.croissantOrder()}"
					styleClass="foo">
					<span class="glyphicon glyphicon-arrow-up"></span>
				</h:commandLink>
				<h:commandLink action="#{actionControl.decroissantOrder()}"
					styleClass="foo">
					<span class="glyphicon glyphicon-arrow-down"></span>
				</h:commandLink>
				
				</f:facet>
				#{action.location}
				<h:commandLink action="#{actionControl.actionLocation(action)}"
					styleClass="foo">
					<span class="glyphicon glyphicon-filter"></span>
				</h:commandLink>

			</h:column>
			<h:column>
				<f:facet name="header">Actions</f:facet>
				<h:commandButton value="delete Action"
					action="#{actionControl.doDeleteAction(action.id)}"
					class="btn btn-danger" />

				<h:commandButton value="edit Action"
					action="#{actionControl.beforeUpdateAction(action)}"
					class="btn btn-success" />
			</h:column>

		</h:dataTable>

	</h:form>

</h:body>
</html>