<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf">
<h:head>
	<title>groupeB2</title>
	<!-- BOOTSTRAP  -->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		crossorigin="anonymous"></link>
</h:head>
<h:body>
<!-- NAVBAR -->
	<header>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">

				<div class="container">
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li><a href="#{navigationControl.goToIndex()}">Accueil</a></li>
							<li><a href="#{navigationControl.goToListEvent()}">Évènements</a></li>
							<li><a href="#{navigationControl.goToCreateEvent()}">Créer un évènement</a></li>
							<li><a href="#{navigationControl.goToListAction()}">Actions</a></li>
							<li><a href="#{navigationControl.goToCreateAction()}">Créer une action</a></li>
							<li><a href="#{navigationControl.goToAbout()}">À propos</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<p>
	<h2>List Event:</h2>
	
	<h:dataTable value="#{eventControl.selectAll()}" var="event">

			<h:column>
				<f:facet name="header">id</f:facet>
      #{event.id}
   </h:column>

			<h:column>
				<f:facet name="header">titre</f:facet>    				
      #{event.name}
   </h:column>
			<h:column>
				<f:facet name="header">actions</f:facet>
				<h:commandButton value="delete User"
					action="#{utilisateurControl.doDeleteUser(user)}" />
					<h:commandButton value="edit User"
					action="#{utilisateurControl.setUpdate(user)}" />
			</h:column>
		</h:dataTable>
	</p>
</h:body>
</html>