<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf">
<h:head>
	<title>Login</title>
	<!-- BOOTSTRAP  -->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		crossorigin="anonymous"></link>
</h:head>
<h:body>
	<!-- NAVBAR -->
	<header>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">

				<div class="container">
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li><a href="#{navigationControl.goToIndex()}">Accueil</a></li>
							<li><a href="#{navigationControl.goToListAction()}">Actions</a></li>
							<li><a href="#{navigationControl.goToCreateAction()}">Créer
									une action</a></li>
							<li><a href="#{navigationControl.goToAbout()}">À propos</a></li>
							<li><a href="#{navigationControl.goToLogin()}">Connexion</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<h2 class="text-danger">
		<u>Erreur lors de la connextion:</u>
	</h2>
	<!-- j'ai copier coller son code je croyais aussi maos c'est bonouais c bon  -->
	<h:form id="login"
		onsubmit="document.getElementById('login').action='j_security_check';"
		prependId="false">
		<h:panelGrid columns="2">
			<h:outputLabel value="Username: " />
			<h:inputText id="j_username" name="j_username" />
			<h:outputLabel value="Password: " />
			<h:inputSecret id="j_password" name="j_password" />
		</h:panelGrid>
		<h:commandButton value="Login" />
	</h:form>
</h:body>
</html>