
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf">
<h:head>
	<title>Login</title>
	<!-- BOOTSTRAP  -->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		crossorigin="anonymous"></link>
</h:head>
<h:body>
	<!-- NAVBAR -->
	<header>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">

				<div class="container">
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li><a href="#{navigationControl.goToIndex()}">Accueil</a></li>
							<li><a href="#{navigationControl.goToListAction()}">List (admin)</a></li>
							<li><a href="#{navigationControl.goToCreateAction()}">Créer (admin)</a></li>
							<li><a href="#{navigationControl.goToAdmin()}">Gérer (admin)</a></li>
							<li><a href="#{navigationControl.goToListActionUser()}">Liste (user)</a></li>
							<li><a href="#{navigationControl.goToCreateActionUser()}">Créer (user)</a></li>
							<li><a href="#{navigationControl.goToAbout()}">À propos</a></li>
							<li><a href="#{navigationControl.goToLogin()}">Connexion</a></li>
							<li><a href="#{navigationControl.deconnexion()}">Déconnexion</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<h:form id="login"
		onsubmit="document.getElementById('login').action='j_security_check';"
		prependId="false">
		<h:panelGrid columns="2">
			<div class="form-group" >
				<label for="username">Login :</label> <input id="j_username"
					name="j_username" class="form-control"/>
			</div>
			<div class="form-group">
				<label for="username">Mot de passe :</label> <input id="j_password"
					name="j_password" class="form-control"/>
			</div>
		</h:panelGrid>
		<h:commandButton value="Login" class="btn btn-info"/>
	</h:form>
</h:body>
</html>