<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:f="http://java.sun.com/jsf/core"
 xmlns:h="http://java.sun.com/jsf/html"
 xmlns:jsf="http://xmlns.jcp.org/jsf">
<h:head>
 <title>groupeB2</title>
 <!-- BOOTSTRAP  -->
 <link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous"></link>
</h:head>
<h:body>
 <!-- NAVBAR -->
 <header>
  <nav class="navbar navbar-inverse">
   <div class="container-fluid">

    <div class="container">
     <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
       <li><a href="#{navigationControl.goToIndex()}">Accueil</a></li>
       <li><a href="#{navigationControl.goToListAction()}">Actions</a></li>
       <li><a href="#{navigationControl.goToCreateAction()}">Créer une action</a></li>
       <li><a href="#{navigationControl.goToAbout()}">À propos</a></li>
      </ul>
     </div>
    </div>
   </div>
  </nav>
 </header>
 <h1>Modifier une action</h1>
 <h:form>
 <h:panelGrid>
   <h:outputLabel value="Title:" for="title" />
   <h:inputText id="title" value="#{actionControl.actionToUpdate.title}" title="title"
    required="true" requiredMessage="The field is required." />
   <h:outputLabel value="Description:" for="description" />
   <h:inputText id="description" value="#{actionControl.actionToUpdate.description}"
    required="true" requiredMessage="The field is required." />
   <h:outputLabel value="Date début:" for="date1" />
   <input class="form-control" type="Date" id="date1" value="#{actionControl.actionToUpdate.dateBegin}" required="true"
    requiredMessage="The field is required." />
    <h:outputLabel value="Date fin:" for="date2" />
   <input class="form-control" type="Date" id="date2" value="#{actionControl.actionToUpdate.dateEnd}" required="true"
    requiredMessage="The field is required." />
   <h:outputLabel value="Amount:" for="amount" />
   <h:inputText id="amount" value="#{actionControl.actionToUpdate.amount}"
    required="true" requiredMessage="The field is required." />
   <h:outputLabel value="Collectif:" for="collectif" />
   <h:inputText id="collectif" value="#{actionControl.actionToUpdate.collectif}"
    required="true" requiredMessage="The field is required." />

   <h:commandButton value="Save" action="#{actionControl.doUpdateAction()}"
    class="btn btn-success"></h:commandButton>
 </h:panelGrid>
 </h:form>
</h:body>
</html>